/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
}
.wrapper {
}
.header {
    background-color: black;
}
.header__container {
    margin-top: 28px;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__image {
    margin-left: 36px
}
.header__nav {
    display: flex;
    margin-left: 64px;
}
.header__meny {
    margin-left: 25px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    
}
.header__s{
    color: #FFFFFF;
}
.header__s:hover{
    font-weight: 700;
}
.header__nav2 {
    display: flex;
    align-items: center;
}
.header__contacs {
    margin-left: 25px;
}
.heager__logo1{
    width: 18;
    height: 15px;
}
.heager__logo2{
    width: 24px;
    height: 15px;
}
.heager__logo3{
    width: 13px;
    height: 22px;
}
.header__tel{
    color: white;
    
font-family: 'Verdana';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
margin-right: 53px;
}
